 
 .container {
     justify-content: flex-start;
     
 }
 
 
 body {
     background-color: #1F2937;
     margin: 45px;
 }
 
 h1{
     color: white;
     font-weight: 800;
     font-size: 40px;
     margin-bottom: 50px;
     }
 
 
 #randomColor{
  color: #4ADF86;   
 }
 
 #note {
     color: #D5D4D8;
     font-weight: 400;
     font-size: 20px;
     margin-bottom:50px;  
 }
 
 button {
     border: none;
     border-radius: 5px;
     color: white;
     background-color: #10B981;
     align-items: center;
     padding: 9px 17px 9px 15px;
 }
 
 hr{
     border: 1px solid #2F3E53;
     margin-top: 25px;
     margin-bottom: 10px   
 }
 
 .generatedPasword{
      display: flex;
     align-items: center;
     justify-content: space-around; 
     
     
 }
 
 
 .span {
     display: flex;
     align-items: center;
     justify-content: center; 
     margin: 15px;
   width: 211px;
   height: 39px;
   left: 52px;
   top: 396px;
   background-color:  #273549;
   border-radius: 6px;
   padding: 5px;
   font-weight: 500;
   font-size: 16px;
   text-align: center;
   color: #55F991;
 }
 